@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    overflow-x: hidden;

}

html::-webkit-scrollbar {
    display: none;
}

.hov-dur:hover {
    transition: 0.4s !important;
}

@layer base {

    .font-josefin-sans {
        font-family: 'Josefin Sans', sans-serif;
    }

    .font-font {
        font-family: 'Courier New', Courier, monospace;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
}